<div class="resetpassword-layout">
    <div class="container">

        <div class="resetpassword-container">
            <div class="form-head">
                <div class="title">
                    <div style="color: #4285F4;">F</div>
                    <div style="color: #EA4335;">u</div>
                    <div style="color: #FBBC05;">n</div>
                    <div style="color: #4285F4;">d</div>
                    <div style="color: #34A853;">o</div>
                    <div style="color: #EB4E41;">o</div>
                </div>


                <p style="font-size: 25px !important; margin:20px;">Reset Password</p>

                <h4>Enter your password or recvovery password</h4>




            </div>
            <form class="form-container" [formGroup]="resetFrom" (ngSubmit)="onSubmit()">


                <div class="form-group">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>New Password</mat-label>
                        <input matInput type="password" placeholder="New Password" formControlName="password">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
                    </mat-form-field>
                </div>

                <br>
                <div class="form-group buttons">

                    <button mat-raised-button class="btn-primary" color="primary">Next</button>

                </div>
            </form>
        </div>
    </div>

</div>