<div class="forgot-password-layout">
    <div class="container">

        <div class="forgot-password-container">
            <div class="form-head">
                <div class="title">
                    <div style="color: #4285F4;">F</div>
                    <div style="color: #EA4335;">u</div>
                    <div style="color: #FBBC05;">n</div>
                    <div style="color: #4285F4;">d</div>
                    <div style="color: #34A853;">o</div>
                    <div style="color: #EB4E41;">o</div>
                </div>


                <h1>Forgot Password</h1>
                <h4>Enter your phone number or recvovery password</h4>


            </div>
            <form class="form-container" [formGroup]="forgotPasswordFrom" (ngSubmit)="onSubmit()">


                <div class="form-group">
                    <mat-form-field appearance="outline" class="form-field">

                        <mat-label> Phone number or Email </mat-label>
                        <input matInput placeholder="email " formControlName="email">
                        <!-- <input matInput placeholder="Phone number or Email" formControlName="email"> -->
                        <!-- <mat-hint>You can use letters, numbers & periods</mat-hint> -->
                        <mat-error>enter your email</mat-error>
                    </mat-form-field>

                </div>


                <br>
                <div class="form-group buttons">

                    <button class="btn-primary">Next</button>
                </div>
            </form>

        </div>

    </div>
</div>